/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
 background-color: rgb(57, 142, 192);
 color:white;
 margin-bottom: 0;
 border-color:  rgb(57, 142, 192);
 border-radius: 0;
}  


/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row.content {height: 1500px}

/* Set gray background color and 100% height */
.sidenav {
 background-color: #f1f1f1;
 height: 100%;
 color: #288248;
 width:20%;
}

/* Set black background color, white text and some padding */
footer {
 background-color: rgb(57, 142, 192);
 text-align:center;
 color: white;
 padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
 .sidenav {
   height: auto;
   padding: 15px;
 }
 .row.content {height: auto;} 
}

.hr {
  width:1050px;
 }