.vertical-menu {
    width: 15%; /* Set a width if you like */
    height: 100%;
    top:0px;
}

.vertical-menu a {
    background-color: #eee; /* Grey background color */
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
}

.vertical-menu a:hover {
    background-color: #ccc; /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
    background-color: maroon; /* Add a green color to the "active/current" link */
    color: white;
}
.table {
  position:absolute;
  width: 1050px;
  float: left;
  padding: 0px 0px;
  top:55px;
}

.file {
  visibility: hidden;
  position: absolute;
}

.form{
    width:50%;
    position:absolute;
    float:left;
    top:70px;
    padding:0px 250px;
}

.form1{
    width:98%;
    position:absolute;
    float:left;
    left: 10px;
    top:70px;
    padding:0px 250px;
}