/* Style the navbar */
#navbar {
 overflow: hidden;
 background-color: #333;
}

/* Navbar links */
#navbar a {
 float: left;
 display: block;
 color: #f2f2f2;
 text-align: center;
 padding: 14px;
 text-decoration: none;
}

/* Page content */
.content {
 padding: 130px 530px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
 position: fixed;
 top: 0;
 width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
 padding-top: 60px;
}

/* Style the navigation bar */
.navbar {
 width: 100%;
 background-color: #0008;
 overflow: auto;
}

/* Navbar links */
.navbar a {
 float: left;
 text-align: center;
 padding: 12px;
 color: white;
 text-decoration: none;
 font-size: 17px;
}

/* Navbar links on mouse-over */
.navbar a:hover {
 background-color: #000;
}

/* Current/active navbar link */
.active {
 background-color:  rgb(57, 142, 192);
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
 .navbar a {
   float: none;
   display: block;
 }
}

.top-right {
               position: absolute;
               right: 10px;
               top: 0px;
           }
           

.flip-card {
 background-color: transparent;
 width: 300px;
 height: 200px;
 border: 0px solid #f1f1f1;
 perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
 position: relative;
 width: 100%;
 height: 100%;
 text-align: center;
 transition: transform 0.8s;
 transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
 transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
 position: absolute;
 width: 100%;
 height: 100%;
 backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
   border: 0;
   background-color: transparent;
   /*color: black; */
}

/* Style the back side */
.flip-card-back {
 background-color: transparent;
 color: black;
 transform: rotateY(180deg);
}

.usertype{
 text-align: center;
 position: relative;
 font-size: 12px;
}

.forgot-pass{
 text-align: center;
 position: relative;
 font-size: 12px;
 padding: 5px;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 6%;
   background-color: #0008;
   color: black;
   text-align: center;
}

body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
 background-color: #555;
 color: white;
 padding: 16px 20px;
 border: none;
 cursor: pointer;
 opacity: 0.8;
 position: absolute;
 right: 0px;
 top: 0px;
 width: 100px;
 height: 42px;
}

/* The popup form - hidden by default */
.form-popup {
 display: none;
 position: fixed;
 top: 50px;
 right: 8px;
 border: 3px solid #0008;
 z-index: 9;
}

/* Add styles to the form container */
.form-container {
 max-width: 300px;
 padding: 10px;
 background-color: #0008;
 color:white;
}

/* Full-width input fields */
.form-container input[type=email], .form-container input[type=password] {
 width: 100%;
 padding: 15px;
 margin: 5px 0 22px 0;
 border: none;
 background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=email]:focus, .form-container input[type=password]:focus {
 background-color: #ddd;
 outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
 background-color: #4CAF50;
 color: white;
 padding: 16px 20px;
 border: none;
 cursor: pointer;
 width: 100%;
 margin-bottom:10px;
 opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
 background-color: red;
 width: 2%;
 height: 2;
 position: absolute;
 right: 1px;
 top: 1px;

}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
 opacity: 1;
}



#mySidenav a {
   position: absolute;
   left: -100px;
   transition: 0.3s;
   padding: 15px;
   width: 120px;
   text-decoration: none;
   font-size: 16px;
   color: white;
   border-radius: 0 5px 5px 0;
}

#mySidenav a:hover {
   left: 0;
}

#about {
   top: 80px;
   background-color: #4CAF50;
}

#register {
   top: 140px;
   background-color: #2196F3;
}

#projects {
   top: 200px;
   background-color: #f44336;
}

#contact {
   top: 260px;
   background-color: #555
}
